@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.navbar-nav{
    gap: 30px;
   
}

.btn{
    text-decoration: none;
    background-color: #FF7369;
    color: #082864;
    background-color: white;
    box-shadow: 0px 0px 1px 1px;
   padding: 1px 20px ;
    margin:  5px ;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn:hover{
    background-color: white;
    color:  #082864 ;
    transform: scale(1.1);
}

.up{
    text-decoration: none;
    text-align: left;
    color: white;
    background-color: #FF7369;
   font-weight: 600;
   padding: .1px 20px ;
    margin:  15px ;
    border-radius: 50px;
    
    cursor: pointer;
    transition: all 0.3s ease 0s; 
}

.up:hover{
    background-color: #FF7369;
    color: white;
    transform: scale(1.1);
}

.menu li a{
    color: #082864;
}


.hero{
    background-color: rgb(255, 255, 255);
    width: 1520px ;
    height: 400px;
    display: flex;
    align-items: end;
    justify-content: center;  
    position: relative;
}

.heroDescripcion{
    
    width: 905px;
    
}

.heroDescripcion h1 {
    font-size: 50px;
    font-weight: 600;
    color: #082864;
    padding: 0px 0px 0px -220px;
    width: 940px;
    
}

.heroDescripcion P{
    font-size: 27PX;
    color: #082864;
    text-align: center; 
    width: 880px;
    position: relative;
    padding: 0px 0px 0px 36px;
}

.heroDescripcion .boton_verde{
    width: 215px;
    height: 60px;
    background: #FF7369;
    border-radius: 50px;
    text-align:center;
    color: white;
    text-decoration: none;
    display: block;
    margin: auto;
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
    padding: 12px 0px;
}

.heroDescripcion .boton_verde:hover{
    background: white;
    color:#FF7369  ;
}

.container{
    background-color: #F0F4F8;
    color: #082864;
    display: flex;
    margin:  15px ;
    height: 40px;
    padding: 1px;
    width: 650px;
    border-radius: 50px;
    gap: 15px;
    align-items: center;
    
}

.new{
    justify-content: center;
    background-color: #FF7369;
    color: white;
    border-radius: 50px;
    width: 60px;
    padding: 0px;
    text-align: center;
    margin: 10px;
}

.display{
    font-size: 3rem;
    
}





.container a{
    text-decoration: none;
    color: #082864;
}


body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.logo{
    padding: 0px 40px;
}


.menu ul{
    padding: 3px;
    list-style: none;
    display: flex;
    gap: 100px;
    color: white;
    padding: -150px;
}

.menu a{
    color: #082864;
    font-size: 18   px;
    text-decoration: none;
    font-weight: 600;
    display: block;
    transition: all .5s ;
    padding: -40px ;
}

.menu a:hover{
    transform: scale(1.2);
    color: #082864;
}

.perfil {
    padding: 35px 0px 20px 0px;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 34px;
    }


.Package{
    width: 100%;
    height: 1119px;
    background: #d5f8f1;
    
    
}
      
.hola{
    padding: 0px 0px 100px 100px;
}   
      

.Logoo img{
    align-items: center;
     bottom: 900px;
    width: 50px;
    height: 370px;
    
    
}
    
.Texts h1{
    color: #ff3131;
    margin: 10px;
    padding: 5px;
    font-size: 17px;
    font-weight: 550;
    text-align: center;
    font-family: "Open Sans", sans-serif;
        
}
      
.Texts h2{
    color: #180463;
    margin: 2px;
    padding: 3px;
    font-size: 40px;
    font-weight: 550;
    text-align: center;
}
      
.Texts p{
    color: #180463;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 550;
    text-align: center;
}

.starbest {
   padding: 40px 380px;
    display: flex;
    gap: 30px;
    

}

form{
    width: 29%;
    background-color: white;
    height: 600px;
    padding: 30px;
    border-radius: 20px;
    margin: 150px;
    box-shadow: 0px 0px 3px 1px;
}

.mon{
    top: 137px;
    right: 114px;
    position: relative;
}

.l{
    text-decoration: none;
    
}

.con h4{
    color: #082864;
}

.con button{
    color: #082864;
}

.con label{
    color: #082864;
}

.divider-content-center{
    position: absolute;
    top: 0%;
    left: 48%;
    transform: translate(-50% -50%);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: white;
    font-size: 1.1rem;
    font-weight: 500;
}

.bg-holder{
    background-color: #C8D2E1;
    position: relative;
    width: 71%;
    min-height: 100%;
    top: 0;
    left: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}

.form-control{
    background-color: aqua;
}

.term{
    text-decoration: none;
}

.si{
    color: #082864;
}

.si button{
    color: #082864;
}







.container-erick {
    transform: translateY(100px);
    transform: translateX(330px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    background-color: white;
    padding: 30px;
 }

    .text-section {
        width: 50%;
    }

    .text-section h1 {
        color: #002366;
        font-size: 32px;
    }

    .text-section p {
        color: #002366;
        font-size: 22.5px;
    }

    .sign-up-btn {
        background-color: #ff6b6b;
        color: white;
        border: none;
        padding: 12px 24px;
        border-radius: 20px;
        cursor:pointer;
        font-size: 16px;
        margin-top: 20px;
        touch-action: double-tap-zoom;
    }

    .sign-up-btn-2 {
        background-color: white;
        color:  #002366;
        border-color:gray ;
        padding: 12px 24px;
        border-radius: 20px;
        cursor:pointer;
        font-size: 16px;
        margin-top: 20px;
        }


        .flexible-budgeting-container {
            transform: translateY(50px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 900px;
            background-color: white;
            padding: 30px;
            left: 405px;
        }
        
        .text-section-flex {
            width: 350px;
            left: 440px;
            padding-left: 10%;
        }
        
        .text-section-flex h1 {
            color: 0066;
            font-size: 32px;
        }
        
        .text-section-flex p {
            color: 002366;
            font-size: 20px;
            width: 410px;
        }
        
        .text-section-flex img {
            bottom: 12px;
        }
        
        .sign-up-btn-flex {
            background-color: #ff6b6b;
            color: white;
            border: none;
            padding: 12px 24px;
            border-radius: 20px;
            cursor:pointer;
            font-size: 16px;
            margin-top: 20px;
        }
        
        .learn-more-btn-flex {
            left: 15px;
            background-color: #fafafa;
            color: darkblue;
            padding: 12px 24px;
            border-radius: 30px;
            border-color: gray;
            cursor:pointer;
            font-size: 16px;
            margin-top: 20px;
        }
        
        .leaderboard {
            padding-left: 20px;
        }
        
        .items {
            margin-top: 10%;
        }








        .flexible-budgeting-container {
            transform: translateY(50px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 900px;
            background-color: white;
            padding: 30px;
            position: relative;
            left: 405px;
        }
        
        .text-section-flex {
            width: 350px;
            position: relative;
            left: 440px;
        }
        
        .text-section-flex h1 {
            color: #002366;
            font-size: 32px;
        }
        
        .text-section-flex p {
            color: #002366;
            font-size: 20px;
            width: 410px;
        }
        
        .text-section-flex img {
            position: relative;
            bottom: 12px;
        }
        
        .sign-up-btn-flex {
            background-color: #ff6b6b;
            color: white;
            border: none;
            padding: 12px 24px;
            border-radius: 20px;
            cursor:pointer;
            font-size: 16px;
            margin-top: 20px;
        }
        
        .learn-more-btn-flex {
            position: relative;
            left: 15px;
            background-color: #fafafa;
            color: darkblue;
            padding: 12px 24px;
            border-radius: 30px;
            border-color: gray;
            cursor:pointer;
            font-size: 16px;
            margin-top: 20px;
        }
        
        .leaderboard {
            position: relative;
            left: -480px;
        }

    

        
        .flexible-budgeting-container {
            transform: translateY(50px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 900px;
            background-color: white;
            padding: 30px;
            position: relative;
            left: 405px;
        }
        
        .text-section-flex {
            width: 350px;
            position: relative;
            left: 440px;
        }
        
        .text-section-flex h1 {
            color: 0066;
            font-size: 32px;
        }
        
        .text-section-flex p {
            color: 002366;
            font-size: 20px;
            width: 410px;
        }
        
        .text-section-flex img {
            position: relative;
            bottom: 12px;
        }
        
        .sign-up-btn-flex {
            background-color: #ff6b6b;
            color: white;
            border: none;
            padding: 12px 24px;
            border-radius: 20px;
            cursor:pointer;
            font-size: 16px;
            margin-top: 20px;
        }
        
        .learn-more-btn-flex {
            position: relative;
            left: 15px;
            background-color: #fafafa;
            color: darkblue;
            padding: 12px 24px;
            border-radius: 30px;
            border-color: gray;
            cursor:pointer;
            font-size: 16px;
            margin-top: 20px;
        }
        
        .leaderboard {
            position: relative;
            left: -480px;
        }

        footer {
            background-color:white;
            color: #2d3748;
            padding: 40px 20px;
            text-align: center;
        }
        
        .footer-container {
            max-width: 1000px;
            margin: 0 auto;
        }
        
        .footer-top {
            display: flex;
            flex-direction:column;
            align-items: center;
            margin-bottom: 30px;
            transform: translateX(-500px);
            
        }
        
        .logo h2 {
            font-size: 28px;
            color: #2d3748;
        }
        
        .download-buttons img {
            width: 150px;
            margin: 10px;
        }
        .download-buttons img:hover{
            transform: scale(1.1);
        }
        .social-icons a img {
            width: 30px;
            margin: 10px 5px;
            transition: transform 0.2s;
            
        }
        
        .social-icons a img:hover {
            transform: scale(1.1);
        }
        
        
        .footer-links {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            text-align: left;
            font-size: 15px;
           transform: translate(100px);
           transform: translateX(150px);
        }
        
        .column h3 {
            color: #082864;
            margin-bottom: 15px;
            font-size: 16px;
        }
        
        .column ul {
            list-style: none;
            padding: 0;
        }
        
        .column ul li {
            margin-bottom: 10px;
        }
        
        .column ul li a {
            text-decoration: none;
            color: #082864;
            transition: color 0.2s;
        }
        
        .column ul li a:hover {
            color:gray;
        }
        
        
        @media (max-width: 768px) {
            .footer-links {
                flex-direction: column;
                align-items: center;
            }
            .column {
                margin-bottom: 20px;
            }
        }


        .loco {
            transform: translateY(50px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1000px;
            background-color: white;
            padding: 30px;
        }
         
        .text-section {
            width: 400px;
            transform: translateX(-10px);
        }
        .text-section h1 {
            color: #002366;
            font-size: 32px;
        }
        .text-section p {
            color: #002366;
            font-size: 22.5px;
        }
        .sign-up-btn {
            background-color: #ff6b6b;
            color: white;
            border: none;
            padding: 12px 24px;
            border-radius: 20px;
            cursor:pointer;
            font-size: 16px;
            margin-top: 20px;
        }



        .Logo img{
            align-items: center;
            bottom: 880px;
            width: 50px;
            height: 760px;
          }
        
          .Texts p{
            margin: 70px;
            padding: 10px;
            font-size: 25px;
            font-weight: 550;
            text-align: center;
          }
        
          .Texts img{
            width: 50px;
            height: 50px;
            transform: translateX(720px);
          }
        
          .Texts h1{
            margin: 10px;
            padding: 5px;
            font-size: 12px;
            font-weight: 550;
            text-align: center;
            font-family: "Open Sans", sans-serif;
          }